{% extends 'invitation/base.html' %}
{% load i18n %}

{% block title %}Request An Invitition Code{% endblock %}

{% block body %}
<form action="" method="post">
    {% csrf_token %}
    <form action method="post">
        {{ form.non_field_errors }}
            {{ form.subject.errors }}
            <label for="id_email">邮件地址:</label>
            {{ form.subject }}
            {{ form.subject.errors }}
            <label for="id_content">自我介绍:</label>
            {{ form.subject }}
    <input type="submit" value="Apply"/>
</form>
{% endblock %}